---
import Page from '../layouts/Page.astro'

import 'bootstrap/dist/css/bootstrap.min.css';
import '../assets/style.css';
---

<Page head="ABOUT ME">
    <div class="container text-center">
      <div class="row">
        <div class="col board">
          <div class="container">
              <div><p class="introduce">I'm <strong>Krittanan Atireglarp</strong>, Graphic Design</p>
                  <p>I work as a graphic designer and website frontend developer, mainly as infographic design. I am professional in Adobe Illustrator. I am fast learner and also friendly with co-worker.</p>
              </div>
                      <div class="container text-center project">
                          <div class="row">
                            <div class="col-6 border-end">
                              <info>3</info>
                              <p>YEAR EXPERIENCE</p>
                            </div>
                            <div class="col-6">
                              <info>20+</info>
                              <p>PROJECTS DONE</p>
                    </div>
                  </div>
              </div>
              <div class="what-i-do">What I do?</div>
              <div class="container text-center item">
                <div class="row align-items-start">
                  <div class="col">
                    <img class="icon" src="../src/assets/img/pen.png">
                  </div>
                  <div class="col text-start">
                    <h3 class="skill">Graphic Design</h3>
                    <p class="description">I do graphic design in multiple design, using adaptive and co-operative with others to create the design.</p>
                  </div>
                </div>
              </div>
              <div class="container text-center item">
                <div class="row align-items-start">
                  <div class="col">
                    <img class="icon" src="../src/assets/img/talk.png">
                  </div>
                  <div class="col text-start">
                    <h3 class="skill">Presentation</h3>
                    <p class="description">I am good at presentation by understand the project can make me present smoothly but also make an eye contract wiith listener and answer the question at the same time.</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</Page>

<style>
  
</style>