---
import Page from '../layouts/Page.astro'
import Skill from '../components/Skill.astro'
import 'bootstrap/dist/css/bootstrap.min.css';
import '../assets/style.css';
import 'animate.css';
---

<Page head="ABOUT ME">
  <div><p class="introduce">I'm <strong>Krittanan Atireglarp</strong>, Graphic Design</p>
    <p>I work as a graphic designer and website frontend developer, mainly as infographic design. I am professional in Adobe Illustrator. I am fast learner and also friendly with co-worker.</p>
</div>
   <div id="carouselExampleRide" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container text-center">
          <div class="row">
            <div class="col board">
              <div class="container">
                    <div class="container text-center project">
                      <div class="row">
                        <div class="col-6 border-end">
                          <info>3</info>
                            <p>YEAR EXPERIENCE</p>
                        </div>
                        <div class="col-6">
                          <info>20+</info>
                            <p>PROJECTS DONE</p>
                        </div>
                      </div>
                  </div>
                  <div class="what-i-do">What I do?</div>
                  <div class="container text-center item">
                    <div class="row align-items-start">
                      <div class="col">
                        <img class="icon" src="../assets/img/pen.png">
                      </div>
                      <div class="col text-start">
                        <h3 class="skill">Graphic Design</h3>
                        <p class="description">I do graphic design in multiple design, using adaptive and co-operative with others to create the design.</p>
                      </div>
                    </div>
                  </div>
                  <div class="container text-center item">
                    <div class="row align-items-start">
                      <div class="col">
                        <img class="icon" src="../assets/img/talk.png">
                      </div>
                      <div class="col text-start">
                        <h3 class="skill">Presentation</h3>
                        <p class="description">I am good at presentation by understand the project can make me present smoothly but also make an eye contract wiith listener and answer the question at the same time.</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg">
              <h1 class="skill" style="padding: 30px 0 30px 0;">Soft Skill</h1>
              <Skill name="Thai" level="Native" />
              <Skill name="English" level="Proficient" />
              <Skill name="Leadership" level="Proficient" />
              <Skill name="Time Management" level="Proficient" />
              <Skill name="Adaptability" level="Advance" />
              <Skill name="Creativity" level="Intermediate" />
              <Skill name="Critical Thinking" level="Advanced" />
              <Skill name="Collaboration" level="Advanced" />
            </div>
            <div class="col-lg">
              <h1 class="skill" style="padding: 30px 0 30px 0;">Hard Skill</h1>
              <Skill name="Adobe Illustrator" level="Advanced" />
              <Skill name="Adobe Photoshop" level="Proficient" />
              <Skill name="Danvinci Resolve" level="Basic" />
              <Skill name="Blender" level="Intermediate	" />
              <Skill name="HTML" level="Intermediate" />
              <Skill name="CSS" level="Intermediate" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



    <!-- <div class="container text-center">
      <div class="row">
        <div class="col board">
          <div class="container">
              <div><p class="introduce">I'm <strong>Krittanan Atireglarp</strong>, Graphic Design</p>
                  <p>I work as a graphic designer and website frontend developer, mainly as infographic design. I am professional in Adobe Illustrator. I am fast learner and also friendly with co-worker.</p>
              </div>
                <div class="container text-center project">
                  <div class="row">
                    <div class="col-6 border-end">
                      <info>3</info>
                        <p>YEAR EXPERIENCE</p>
                    </div>
                    <div class="col-6">
                      <info>20+</info>
                        <p>PROJECTS DONE</p>
                    </div>
                  </div>
              </div>
              <div class="what-i-do">What I do?</div>
              <div class="container text-center item">
                <div class="row align-items-start">
                  <div class="col">
                    <img class="icon" src="../assets/img/pen.png">
                  </div>
                  <div class="col text-start">
                    <h3 class="skill">Graphic Design</h3>
                    <p class="description">I do graphic design in multiple design, using adaptive and co-operative with others to create the design.</p>
                  </div>
                </div>
              </div>
              <div class="container text-center item">
                <div class="row align-items-start">
                  <div class="col">
                    <img class="icon" src="../assets/img/talk.png">
                  </div>
                  <div class="col text-start">
                    <h3 class="skill">Presentation</h3>
                    <p class="description">I am good at presentation by understand the project can make me present smoothly but also make an eye contract wiith listener and answer the question at the same time.</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div> -->
</Page>

<style>
      .my-element {
      display: inline-block;
      margin: 0 0.5rem;

      animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s; /* don't forget to set a duration! */
    }

    .box {
      background-color: #54494B;
      padding: 30px 0 30px 0;
      border-radius: 20px;
      color: white;
      width: 50%;
      justify-content: center;
      align-items: center;
    }

</style>