---
interface Props {
  name: string;
  level: string;
}

const { name, level } = Astro.props;
---

<div class="container skill">
  <div class="row align-items-start">
    <div class="col text-end mid-line up-2">
      {name}
    </div>
    <div class="col text-start up-2">
      {level}
    </div>
  </div>
</div>

<style>
  .skill {
    font-size: 20px;
    font-weight: Bold;
    color: #54494B;
  }

  .mid-line {
    border-right: 3px solid #54494B;
    width: auto;
  }
  .up-4 {
      display: inline-block;

      animation: fadeInUp;
      animation-duration: 4s; 
    }
</style>